.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
.DS_Store
.pytest_cache
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
.sonarqube/
sonar-scanner/
argocd-apps/
helm/